
/*Nav bar centralizando texto*/
.nav-item{
  padding-left: 20px;
}

/* botoes no geral*/
.btn {
  margin-top: 5px;
  margin-left: 5px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #293443 !important;
    border-color: #293443 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #BB2020 !important;
    border-color: #BB2020 !important;
}


/* lista de tarefas */
#table1 {
    border-collapse: separate;
    border-spacing: 15px;
  }

/* detail */

.description{
  padding-top: 10px;
}


#centralize{
  font-size: 18px;
  margin-left: auto;
  margin-left: auto;
}

#centralize h1{
  font-size: 42px;
  padding-top: 15px;
  text-align: start;
}

/* pagination */
.pagination{
  margin-left: 80px;
  font-size: 15px;

}

#arrow{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

/* pagina de deletar box*/
.delete{
  background-color: #c9d8ee;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgb(95, 84, 77);
  width: 350px;
  padding: 20px;
  padding-right: 32px;
  margin: 100px auto;

}

.delete p{
  text-align: center;
}


/* icones de status da lista */
#check{
  color:rgb(16, 187, 10);
  margin-left: 20px;
}

#x{
  color:rgb(207, 21, 21);
  margin-left: 20px;
}

/* auth */
#auth-centralize{
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

#auth-centralize h1{
  font-size: 42px;
}