{% extends 'base.html' %}
{% block title %}{{ object.title| capfirst }}{% endblock %}

{% block content %}
<div class="col-10" id="centralize">
 <p>
    <h2>Sobre o projeto</h2>
    <p>Criando um projeto de lista de tarefas, com sistema de login.</p>
    <h5>Usando:</h5>
    <ul>
         <li>Django 3.2.8</li>
         <li>Usando Class-based Views</li>
         <li>Html, Css e Bootstrap para os templates</li>
         <li>JavaScript nos botões editar e apagar</li>
         <li>Banco de dados Sqlite</li>
    </ul>
 </p>
 <p><strong>By:</strong> <small>Cassio645</small></p>
</div>


{% endblock %}