{% extends 'base.html' %}
{% block title %}{{ object.title| capfirst }}{% endblock %}

{% block content %}
<div class="col-10">
 <h1>Lista de tarefas</h1>
 <p>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ad cum optio! Tempora, explicabo voluptas laudantium iste non odit, ducimus vitae labore illum quibusdam doloribus earum hic quas. Itaque, quasi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ipsam error repellendus doloribus quam odio culpa, quis dicta similique vel maxime facere veritatis autem, voluptas qui hic itaque porro modi.
 </p>
</div>


{% endblock %}