{% extends 'base.html' %}
{% block title %}Deletar tarefa{% endblock %}

{% block content %}
    <div class="delete">
        <form method="post">
            {% csrf_token %}
            <p>Você tem certeza que quer apagar? <br>
            "{{ object.title }}""
            </p>
            <p>
                <input class="btn btn-danger" type="submit" value="Apagar">
                <button class="btn btn-primary" id="{{object.id}}" onclick="editFunction(this.id)">Cancelar</button>
            </p>
        </form>
    </div>
{% endblock %}