{% extends 'base.html' %}
{% block title %} Lista de Tarefas{% endblock %}

{% block content %}

<div class="col-sm">
    <h1>Lista de Tarefas</h1>
        <table id="table1">
            <tr>
                <th>Título</th>
                <th>Ver mais</th>
                <th>Finalizado</th>
            </tr>
            {% for task in object_list %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td><a href="{% url 'todo:detail' pk=task.id %}">Detalhes</a></td>
                        <td>{% if task.done %}<i class="bi bi-check-square" id="check"></i>
                            {% else %}<i class="bi bi-x-square" id="x"></i>
                            {% endif %}
                        </td>
                </tr>
            {% empty %}
                <p>Você ainda não adicionou nenhuma tarefa.</p>
            {% endfor %}
        </table>
</div>



{% endblock %}


